.filter-group {
	width: 681px; 
	border:1px solid black;
	margin-left: 25%;
}

.filterButtonLine {
	display: inline-block;
	margin-left: 20%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.dropdown {
	display: inline-block;
}

.dropdown-menu {
	min-width: auto;
	/*text-align: center;*/
}

.btn-group > .btn-group {
	float: none;
}

.timeFrame-group {
	margin-left: 5px;
}

.filter-btn {
	margin: 5px;
}

.glyphicon {
	vertical-align: middle;
}

/*.filterWrapper{
	width: 679px;
}*/
#filterWrapper{
	position: relative;
}

.countryOption{
	list-style-type: none;
}

.filterBox .right .countryOption {
    float: left;
}

.filterBox .right {
    width: 568px;
}

.FilterBox .left {
    width: 77px;
}

.filterBox {
    background-color: #F2F2F2;
    border-top: 1px solid #FFF;
    padding: 17px;
}

.float_lang_base_2 {
    float: right;
}

.float_lang_base_1 {
    float: left;
}

div.clear { clear: both; display: block; }
